/node_modules

# Ignore test-related files
/coverage.data
/coverage/

# Build files
/dist

.DS_Store

/docs
.idea/.gitignore
.idea/bgg-sdk.iml
.idea/misc.xml
.idea/modules.xml
.idea/prettier.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
